body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

hr {
  width: 15%;
}

.row {
  margin: 0;
}

/* Navbar */
.navbar {
  text-align: left;
  background-color: #2f2519;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.nav-item {
  padding-right: 20px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ec823a !important;
}

/* TOP container */
.top-container {
  color: white;
  padding: 5% 0;
  background-image: url(../images/welcome-image.png);
  background-position: center;
  background-size: cover;
  margin: 0;
}

.welcome-h1 {
  font-family: 'Roboto Slab';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
}

.welcome-p {
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 0 1px 2px black;
}

.cta-button {
  border: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 3% 10px;
  text-shadow: 0 0 2px black;
  padding: 1rem 2rem;
}

/* UPDATES container */
.updates-container {
  background-color: white;
  margin: 0;
  text-align: left;
}

.updates-h4 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  color: #373a40;
}

.card {
  margin: 3rem;
}

.card-body {
  padding-bottom: 3rem;
}

.card-img-top {
  margin: auto;
  width: 100px;
  padding: 4rem 0;
}

.card-heading {
  font-weight: 600;
}

.card-hr {
  width: 100%;
}

.more-updates-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 0.8rem;
}

/* Features Overview */
.features-container {
  background-image: url(../images/features-image.png);
  background-repeat: no-repeat;
  background-color: white;
  padding-bottom: 30%;
}

.features-h1 {
  font-family: 'Roboto Slab';
  color: white;
  text-shadow: 0 1px 10px grey;
  padding-top: 1rem;
  line-height: 2;
}

.features-p {
  color: #373a40;
  font-size: 1.2rem;
  font-weight: lighter;
}

.features-box {
  text-align: left;
}
