html, body {
width:100%;
overflow-x:hidden;
}
 
body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

hr {
  width: 15%;
}

h1 {
  font-family: 'Roboto Slab';
}

a {
  text-decoration: none !important;
}

.row {
  margin: 0;
}

/* Navbar */
.navbar {
  text-align: left;
  background-color: #2f2519;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.nav-item {
  padding-right: 20px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ec823a !important;
}

/* TOP container */
.top-container {
  color: white;
  padding: 5% 0;
  background-image: url(../images/welcome-image.png);
  background-position: center;
  background-size: cover;
  margin: 0;
}

.welcome-h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
}

.welcome-p {
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 0 1px 2px black;
}

.cta-button {
  border: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 3% 10px;
  text-shadow: 0 0 2px black;
  padding: 1rem 2rem;
}

/* UPDATES container */
.updates-container {
  background-color: white;
  margin: 0;
  text-align: left;
}

.updates-h4 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  color: #373a40;
}

.card {
  margin: 3rem;
}

.card-body {
  padding-bottom: 3rem;
}

.card-img-top {
  margin: auto;
  width: 100px;
  padding: 4rem 0;
}

.card-heading {
  font-weight: 600;
}

.card-hr {
  width: 100%;
}

.more-updates-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 0.8rem;
}

/* Features Overview */
.features-container {
  background-image: url(../images/features-image.png);
  background-repeat: no-repeat;
  background-color: white;
  padding-bottom: 7rem;
  text-align: left;
}

.features-h1 {
  font-family: 'Roboto Slab';
  text-align: center;
  color: white;
  text-shadow: 0 1px 10px grey;
  padding-top: 1rem;
  line-height: 2;
}

.features-p {
  color: #373a40;
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
}

.features-h5 {
  line-height: 1.5;
  font-weight: 600;
}

.feature {
  width: 25rem;
  padding: 0 5rem;
  position: relative;
  left: 4rem;
  top: 70px;
}

.feature-explanation {
  color: #968c83;
  font-size: 0.9rem;
}

.feature-img {
  position: relative;
  right: 80px;
  top: 70px;
}

/* Monthly Stats */
#weekly-stats {
  text-align: center;
  padding-bottom: 5rem;
}

.weekly-stats-h1 {
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
  padding: 2rem 0 1rem;
}

.stats-box {
  padding: 8rem;
  position: relative;
  left: 2.5rem;
}

@media (max-width: 1400px) {
  .stats-box {
    position: static;
  }
}
.stats-icon {
  color: white;
  text-shadow: 0 1px 5px black;
}

.stats-icon:hover {
  color: #d9ecf2;
}

.stats-h2 {
  font-family: 'Roboto';
  color: white;
  text-shadow: 0 1px 2px black;
  font-size: 4rem;
  position: relative;
  top: 1rem;
}

.stats-h4 {
  font-family: 'Roboto';
  color: white;
  text-shadow: 0 1px 2px black;
  font-size: 2rem;
  position: relative;
  top: 2rem;
}

/* Call To Action */
.cta-container {
  background-color: #ff9642;
  background-image: url(../images/cta-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 0;
  transition: 0.5s;
  margin: 0;
}

.cta-container:hover {
  background-color: #f6830f;
  transition: 0.5s;
}

.cta-h2 {
  font-family: 'Roboto';
  font-weight: lighter;
  color: white;
  text-shadow: 0 1px 2px grey;
  display: inline;
}

.cta-h1 {
  font-family: 'Roboto';
  color: white;
  text-shadow: 0 1px 2px grey;
  font-weight: 800;
  display: inline;
  text-decoration: underline;
}

/* Footer */
footer {
  padding: 1rem 0;
  background-color: #2f2519;
  color: #968c83;
}
